<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>Our Products | CraveHub</title>
    <link rel="icon" type="image/x-icon" href="./Images/logo.png">
    <link rel="stylesheet" href="" th:href="@{/css/Navigation.css}" />
    <link rel="stylesheet" href="" th:href="@{css/Products.css}" />
</head>

<body>
    <nav th:replace="~{Navigation::navbar()}"></nav>

    <div id="mainDiv">
        <div class="itemDiv">
            <img src="./Images/biryani/Biryani_of_Hyderabadi.jpg" alt="Biryani" class="pImg">
            <h3>Chicken Biryani</h3>
            <p class="price">Price: 410/-</p>
            <a href="/login">Buy Now</a>
        </div>

        <div class="itemDiv">
            <img src="./Images/paneer/paneer-butter-masala.jpg" alt="Paneer" class="pImg">
            <h3>Paneer Butter</h3>
            <p class="price">Price: 290/-</p>
            <a href="/login">Buy Now</a>
        </div>
        
        <div class="itemDiv">
            <img src="./Images/chicken/Afgani-chicken-curry.jpg" alt="Chicken" class="pImg">
            <h3>Afgani Chicken</h3>
            <p class="price">Price: 410/-</p>
            <a href="/login">Buy Now</a>
        </div>
        
        <div class="itemDiv">
            <img src="./Images/chicken/butter-chicken.jpg" alt="Chicken" class="pImg">
            <h3>Butter Chicken</h3>
            <p class="price">Price: 380/-</p>
            <a href="/login">Buy Now</a>
        </div>
        
        <div class="itemDiv">
            <img src="./Images/north-india-food/Laccha-Paratha.jpg" alt="Paratha" class="pImg">
            <h3>Laccha Paratha</h3>
            <p class="price">Price: 30/-</p>
            <a href="/login">Buy Now</a>
        </div>
        
        <div class="itemDiv">
            <img src="./Images/chicken/Matka-Chicken.jpg" alt="Chicken" class="pImg">
            <h3>Matka Chicken</h3>
            <p class="price">Price: 510/-</p>
            <a href="/login">Buy Now</a>
        </div>

        <div class="itemDiv">
            <img src="./Images/chicken/Tandoori-chicken-tikka.jpg" alt="Chicken Tikka" class="pImg">
            <h3>Chicken Tikka</h3>
            <p class="price">Price: 310/-</p>
            <a href="/login">Buy Now</a>
        </div>

        <div class="itemDiv">
            <img src="./Images/north-india-food/Honey-Chilli-Potato.jpg" alt="Chilli Potato" class="pImg">
            <h3>Chilli Potato</h3>
            <p class="price">Price: 150/-</p>
            <a href="/login">Buy Now</a>
        </div>

        <div class="itemDiv">
            <img src="./Images/north-india-food/chola-bhatura.jpg" alt="Chola Bhatura" class="pImg">
            <h3>Chola Bhatura</h3>
            <p class="price">Price: 180/-</p>
            <a href="/login">Buy Now</a>
        </div>

        <div class="itemDiv">
            <img src="./Images/north-india-food/Gulab Jamun.jpg" alt="Gulab Jamun" class="pImg">
            <h3>Gulab Jamun</h3>
            <p class="price">Price: 50/-</p>
            <a href="/login">Buy Now</a>
        </div>

        <div class="itemDiv">
            <img src="./Images/chinese/chowmein.jpg" alt="Chowmein" class="pImg">
            <h3>Chowmein</h3>
            <p class="price">Price: 150/-</p>
            <a href="/login">Buy Now</a>
        </div>

        <div class="itemDiv">
            <img src="./Images/paneer/paneer-do-pyaza.jpg" alt="Paneer Do Pyaza" class="pImg">
            <h3>Paneer Do Pyaza</h3>
            <p class="price">Price: 270/-</p>
            <a href="/login">Buy Now</a>
        </div>

    </div>
</body>

</html>